
.parallax {
background-attachment: fixed;
}

@font-face {
  font-family: 'Uluwatu Font';
  src: url('../fonts/BebasNeue.otf');
}

.logo-font-custom {
  font-family:'Uluwatu Font';
}

.huge-font-custom {
	font-size: 80px;
}

.navbar-brand-custom,
.navbar-brand-custom:active,
.navbar-brand-custom:focus{
  font-size:42px;
  color: #222;
  text-decoration: none;
  padding-left: 10px;
}

#mainNav {
  border-width: 0px;
}

.affix-top{
	opacity: 0 !important;
}


.padding-top-custom{
	padding-top: 30px;
}

.full-height-custom{
	height: 100vh;
}
    
.white-line{
	color: white;
}

.hr-white-custom {
    border-color: white;
    border: 0;
    border-top: 3px solid;
}

.text-color-white{
  color:white;

}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.6s infinite linear;
  -o-animation: bounce 0.6s infinite linear;
  -webkit-animation: bounce 0.6s infinite linear;
  animation: bounce 0.6s infinite linear;
  colr:000;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}


/*For small screens: -----------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 380px) {
  .background-img{
  background-image:url(../img/header-mobile.jpg);
  }


  



}

/*For mobile phones: -----------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 380px) and (max-width: 1060px) {

  .background-img{
  background-image:url(../img/header.jpg);
  }


}

/*For desktop: -----------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1060px) {

   .background-img{
  	background-image:url(../img/header.jpg);
	}
   
}



/*for landscape mode*/
@media only screen and (max-height: 400px) {
  .push-down{
    margin-top: 2vh;
  }
}

/*for landscape mode*/
@media only screen and (min-height: 400px) and  (max-width: 380px){
  .push-down{
    margin-top: 50vh;
  }

  
}

/*for landscape mode*/
@media only screen and (min-height: 400px) and  (min-width: 380px){
  .push-down{
    margin-top: 30vh;
  }
}


