
.parallax {
background-attachment: fixed;
}

@font-face {
  font-family: 'Uluwatu Font';
  src: url('../fonts/BebasNeue.otf');
}

.logo-font-custom {
  font-family:'Uluwatu Font';
}

.huge-font-custom {
	font-size: 80px;
}

.navbar-brand-custom {
  font-size:42px;
  color: #222;
  text-decoration: none;
  padding-left: 10px;
}


#mainNav {
  border-width: 0px;
}

.affix-top{
	opacity: 0 !important;
}


.padding-top-custom{
	padding-top: 30px;
}

.full-height-custom{
	height: 100vh;
}
    
.white-line{
	color: white;
}

.hr-white-custom {
    border-color: white;
    border: 0;
    border-top: 3px solid;
}